<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>                       
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.60/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.60/pdfmake.min.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.60/vfs_fonts.js"></script>

</head>
<body style="">
<nav class="navbar navbar-inverse" style="margin-top: 0%;">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Aroma Nail Salon</a>
        </div>
        <ul class="nav navbar-nav" style="width: 85%">
            <li><a href="/renderServices/">Home</a></li>      
            <li class="active"><a href="/aboutus/">About Us</a></li>      
            <li style="float:right"><a href="/logout/">Logout</a></li>
        </ul>
        </div>
</nav>
    <div>
        <h1 style="text-align:center; margin-top: 4%; color :#676565"> ABOUT US </h1>
    </div>
    <div style="text-align:center; font-size: 13pt; font-weight: 400; margin-top: 4%;">
        <p> At The Aroma Nail salon , we believe in beauty with a conscience. </p>
        <p>We have created a salon that offers the highest quality nail services.</p>
        <p>We carry high quality professional nail products designed to ensure our guests look their best, both in the salon and at home.</p>
        <p> The nail care products we carry have been carefully chosen based on their performance and quality.</p>
        <p>We are committed to providing healthy nail care. </p>
    </div>
    <div style="text-align:center; font-size: 13pt; font-weight: 300; margin-top: 5%;">
        <p>+91-9988998823 </p>
        <p>Shop No.24A, Ground Floor, Amanora Mall, East Block, Hadapsar,</p>
        <p>Pune, Maharashtra 411028</p>
    
    </div>
</body>
</html>